<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blobset_Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Blobset_Tools.Properties.Settings>
            <setting name="LoadGame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipUnknown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameLocation" serializeAs="String">
                <value>D:\Steam\steamapps\common\Rugby 25\data\data-0.blobset.pc</value>
            </setting>
            <setting name="GameID" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="GameName" serializeAs="String">
                <value>Rugby 25</value>
            </setting>
            <setting name="BlobsetVersion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SteamGameID" serializeAs="String">
                <value>2340870</value>
            </setting>
        </Blobset_Tools.Properties.Settings>
    </userSettings>
</configuration>